/* order_card_wrap */

.order_card_wrap {
  padding: 10px;
  box-shadow: 10px 11px 38px rgb(0 0 0 / 10%);
  background-color: #ffff;
  position: relative;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.order_card_img {
  display: flex;
  /* justify-content: center;;
  align-items: center */
}

.order_card_img > img {
  width: 100px;
}

.order_card_title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 0.3rem;
}

.order_card_title > .order_card_heading {
  font-size: 14px;
  color: black;
  padding-bottom: 5px;
}

.order_card_title > .order_card_sub {
  font-size: 12px;
  color: gray;
  padding-bottom: 5px;
}

.order_card_amount_wrap {
  display: flex;
  justify-content: center;
}

.order_card_amount {
  padding-top: 20px;
}

.order_card_amount > .order_card_sub {
  font-size: 12px;
  color: gray;
  padding-bottom: 5px;
}

.order_card_review_wrap {
  padding-top: 20px;
}

.order_review_title::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 10px;
  left: -15px;
  top: 3px;
}

.order_review_sub {
  font-size: 12px;
  color: gray;
  padding-bottom: 5px;
}

.order_review_title {
  font-size: 14px;
  color: black;
  position: relative;
  padding-bottom: 10px;
}

/* order_card_wrap */
