.common_divison_padding {
  padding: 20px 0px;
}
.sticky-top {
  top: 70px;
}

/* search icons wrap */
.product_search_wrap {
  position: relative;
}
.search_icon_wrap1 {
  background-color: orange;
  align-items: center;
  text-align: center;
  padding: 0 18px;
  border: none;
  outline: none;
}

search_icon_wrap1:focus :focus-visible {
  outline: none;
}

.search_icon_wrap1 .fa {
  color: #fff;
}
.product_search_input {
  height: 47px;
}

/* end search icons wrap */

/* product categories */
.product_title_parent {
  position: relative;
}
.product_titles {
  color: #171a42;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 10px;
}
.product_price_values {
  color: #295832;
}
.product_title_after {
  width: 25px;
}
.product_inner_image {
  position: absolute;
  top: 0;
  left: 121px;
}

.product_list_info_wrapper {
  padding: 10px 0px;
  display: flex;
  align-items: center;
}

.product_list_info .product_list_title {
  font-size: 14px;

  transition: color 0.3s;
  font-weight: 700;
  color: #171a42;
  padding-bottom: 6px;
}
.product_list_info .product_list_amount {
  font-size: 16px;
  color: #295832;
  padding-bottom: 6px;
}
/* product categories */

/* product total list */

.product_showing_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_showing_wrap .form-control {
  border-radius: 0px;
  height: 40px;
  border: 1px solid #d6d6d6 !important;
  font-size: 12px;
}
.padding_bottom_col_md {
  margin-bottom: 20px;
}
.product_list_card {
  padding: 20px;
  box-shadow: 10px 11px 38px rgb(0 0 0 / 10%);
  background-color: #ffff;
}

.product_reviews {
  color: #ef6831;
  font-size: 14px;
}
.product_amount_wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.product_amount_color {
  color: red;

  font-size: 14px;
  margin-right: 5px;
}
.product_amount_color1 {
  color: #295832;
  text-decoration: line-through;
  font-size: 14px;
  margin-right: 5px;
}
.product_percentage {
  display: inline-block;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #ff851b;
  padding: 6px 10px;
  font-size: 15px;
  line-height: 12px;
  position: relative;
  margin-right: 12px;
  height: 25px;
}
.arrow_product_percentage {
  border-top: 12px solid #ff851b;
  border-bottom: 13px solid #ff851b;
  border-right: 13px solid transparent;
  position: absolute;
  right: -13px;
  top: 0;
}
.product_percentage h6 {
  font-size: 12px;
}

.wish_list_icon {
  float: right;
}

.product_collapse .card-header {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  background-color: transparent;
}
.product_collapse .card {
  border: 0;
}
.product_collapse .card-body {
  padding: 10px 0px;
}

/* end product total list */

.horizontal-slider {
  width: 95%;
  max-width: 500px;
  height: 8vh;
  margin: auto;
}
.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 8px solid #3774ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}
.example-thumb.active {
  background-color: grey;
}
.example-track {
  position: relative;
  background: #83a9ff;
}
.example-track.example-track-0 {
  background: #ddd;
}
.example-track.example-track-2 {
  background: #ddd;
}
.horizontal-slider .example-track {
  top: 4px;
  height: 7px;
  border-radius: 25px;
}
.horizontal-slider .example-thumb {
  top: 0px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
  text-align: center;
}

/* Media Query */

@media (max-width: 776px) {
  .product_showing_wrap {
    margin-top: 20px;
  }
  .product_showing_list h6 {
    font-size: 12px;
  }
}
