.animation_View
{
   
    overflow: hidden;
    margin: 0px auto;
    outline: none;
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    z-index: 1;
    /* background-color: #ccc0c0; */
}
.animation_View_parent
{
    position: relative;
   
}

.gifloading_layer_active
{
  z-index: 1100;
  height: 100%;
  width: 100%;
  text-align: center;
  position: fixed;
  display: block;
  /* background-color: rgb(37 37 37 / 49%); */
  top: 0px;
  left: 0px;
  cursor: pointer;
}
/* .gifloading_layer_active img 
{
  background-color: white;
  border-radius: 50%;
} */

.gifloading_layer_deactive
{
  z-index: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  /* position: fixed; */
  display: block;
  /* background-color: rgb(37 37 37 / 49%); */
  top: 0px;
  left: 0px;
  cursor: pointer;
}

.gifloader_background
{
  background-color: rgb(193 193 193 / 40%) !important; 
}