.common_pading_10 {
  padding: 10px 0px;
}
.product_card {
  box-shadow: 10px 11px 38px rgb(0 0 0 / 10%);
}
.product_card:hover {
  cursor: pointer;
}
.product_card img {
  width: 100%;
}

/* product title */

.product_heading h1 {
  color: black;
  font-size: 36px;
  font-weight: 700;
  word-break: break-word;
}
/* .product_heading span{
    font-size: 24px;
    color: #295832;
    padding: 10px 0px;
    font-weight: 600;
} */
.product_slider_margin .product_card {
  margin: 5px;
}
.product_heading p {
  padding: 20px 0px;
  font-size: 15px;
  line-height: 30px;
}
.product_heading h5 {
  color: #171a42;
}
.product_heading h1,
.product_heading span,
.product_heading p {
  margin-bottom: 10px;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_start {
  display: flex;
  padding-top: 6px;
}

.product_reviews_container {
  display: flex;
  align-items: center;
}

.product_rank_wrapper {
  display: flex;
  align-items: center;
  align-self: center;
}
.product_rank_wrapper h6 {
  margin-top: 10px;
}
.product_rank {
  margin-top: 10px;
}
.product_rank {
  display: inline-block;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #ff851b;
  padding: 4px 10px;
  font-size: 15px;
  line-height: 17px;
  position: relative;
  margin-right: 12px;
  height: 25px;
}
.product_rank_arrow {
  border-top: 12px solid #ff851b;
  border-bottom: 13px solid #ff851b;
  border-right: 13px solid transparent;
  position: absolute;
  right: -13px;
  top: 0;
}
.product_price {
  padding: 10px 0px;
  display: flex;
  align-items: center;
}
.product_price h5 {
  padding-right: 5px;
}
.product_amount {
  display: flex;
  align-items: center;
}
.product_amount h6 {
  padding-right: 5px;
}
.product_amount .product_special_price {
  color: black;
  font-size: 18px;
}
.product_amount .product_retail_price {
  text-decoration: line-through;
  font-size: 14px;
  color: #ef6831;
}

.product_amount .product_selling_price {
  text-decoration: line-through;
  font-size: 14px;
  color: #295832;
}

.product_save {
  background-color: red;
  color: white;
  display: inline-block;
  padding: 2px 2px;
  margin-right: 10px;
}
.product_summary {
  padding: 10px 0px;
}
.product_summary h2 {
  font-size: 24px;
  color: black;
}

.product_button {
  padding: 6px;
  background-color: #ef6831;
  color: white;
  display: inline-block;
  box-shadow: 8px 9px 18px rgb(255 112 41 / 30%);
  /* margin-right: 1px; */
  border-radius: 5px;
  margin: 3px 6px;
}
.product_total_wrapper {
  padding-top: 20px;
}
.product_total_title {
  color: #ef6831;
}
.product_total_quantity {
  color: black;
}
.product_total_wrapper p {
  font-size: 16px;
  font-weight: 500;
}
.product_button p {
  color: white;
  font-weight: 600;
}
.product_total_amount {
  color: green;
}
.product_quan_wrap {
  display: flex;
}
.product_qunatity {
  display: flex;
  align-items: center;
  border: 1px solid gainsboro;
  padding: 0px 10px;
  border-radius: 5px;
}
.product_qunatity .fa {
  padding: 8px;
  background-color: #171a42;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_qunatity p {
  padding: 0px 10px;
  font-weight: 600;
  color: #295832;
}

.product_social_wrapper {
  padding: 20px 0px;
}
.product_social_wrapper p {
  padding: 10px 0px;
}

.product_social_wrapper .fa {
  color: #ef6831;
}

.product_social_wrapper ul li:hover {
  background-color: #ef6831;
  cursor: pointer;
}
.product_social_wrapper ul li:hover .fa {
  color: white;
}
.product_social_wrapper ul {
  display: flex;
}
.product_social_wrapper ul li {
  border: 1px solid #ef6831;
  background-color: rgba(29, 161, 242, 0);
  display: inline-block;
  border-radius: 50%;
  width: 35px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5px;
  margin-right: 10px;
}

.product_seller {
  border: 1px solid gainsboro;
  display: inline-block;
  width: 100%;
  padding: 10px;
}
.product_seller_card {
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.product_seller .product_sell_heading {
  padding: 10px 20px;
  font-weight: bold;
  color: #171a42;
  border-bottom: 1px solid gainsboro;
  text-align: center;
}
.product_seller_add {
  background-color: orange;
  color: white;
  padding: 5px;
}
.product_seller_amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.product_seller_description {
  padding: 10px;
}
.product_seller_name_wrapper {
  display: inline-block;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #232f3e;
  padding: 4px 10px;
  font-size: 15px;
  line-height: 17px;
  position: relative;
  height: 25px;
}
.product_seller_name_wrapper span {
  position: absolute;
  top: 0px;
  right: -10px;
  border-right: 10px solid transparent;
  border-top: 26px solid;
  color: #232f3e;
}
.product_seller_subname {
  color: orange;
}
.product_info_tooltip_wrap {
  position: relative;
  display: inline-block;
}
.product_info_tooltip_content {
  visibility: hidden;
  background-color: white;
  color: #000;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  width: 320px;
  border-radius: 6px;
  padding: 15px 20px;
  position: absolute;
  right: -20px;
  z-index: 1;
  left: 30px;
}
.product_info_tooltip_wrap:hover {
  cursor: pointer;
}
.product_info_tooltip_wrap:hover .product_info_tooltip_content {
  visibility: visible;
  cursor: pointer;
}
.product_info_title {
  font-size: 14px;
}
.product_info_special_price {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.product_info_text_strike {
  text-decoration: line-through;
}
.product_info_special_price h3 {
  font-size: 13px;
  color: gray;
}
.retail_underline {
  border-bottom: 1px dotted #dcdcdc;
}
.special_price_underline {
  border-bottom: 1px solid #dcdcdc;
}
.saving_amount h3 {
  color: green;
}

.special_price_underline .product_info_special_title {
  color: black;
}

@media (max-width: 776px) {
  .product_info_tooltip_wrap {
    display: none;
  }
}
/* end product title */

/* product tab */

.product_tab_section .nav-tabs {
  display: flex;
  justify-content: center;
}

.product_tab_section .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #ef6831 !important;
  background-color: transparent;
  border-color: #dee2e6 #dee2e6 #fff;
  border-bottom: 2px solid #ef6831 !important;
  font-size: 16px;
  font-weight: 500;
}

.product_tab_section .nav-tabs .nav-link {
  border: unset;
  color: black;
}

.product_tab_container {
  padding: 35px 0 16px 0;
}

/* end product tab */

/* review form */

.review_wrapper {
  box-shadow: 10px 11px 38px rgb(0 0 0 / 10%);
  padding: 20px;
  background-color: #ffff;
  border-radius: 10px;
}
.review_button_wrapper {
  text-align: center;
}
.review_wrapper h4 {
  color: #ef6831;
}
.review_wrapper p {
  padding: 10px 0px;
}

.dv-star-rating-star i {
  font-size: 20px;
  padding-right: 4px;
  font-weight: bold;
  /* color: #f9d322; */
}
.review_start_wrap {
  display: flex;
}
.review_start_wrap h6 {
  color: #171a42;
  margin-right: 10px;
}

/* End review form */

/* Related products */
.related_products {
  padding-bottom: 50px;
}

.related_products h3 {
  color: #171a42;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.related_products_card {
  padding: 10px;
  box-shadow: 10px 11px 38px rgb(0 0 0 / 10%);
  background-color: #ffff;
  position: relative;
  cursor: pointer;
  border-top: 1px solid #e1e3e4;
  border-left: 1px solid #e1e3e4;
}

.Card_Slider_Section_Developer .related_products_card {
  margin: 10px;
}
.related_product_title h6 {
  padding-bottom: 10px;
  color: #171a42;
  word-break: break-all;
  height: 40px;
  font-size: 12px;
}

.related_product_wrapper {
  padding: 10px 0px;
  text-align: center;
}

.related_product {
  padding: 10px;
  width: 40px;
  background-color: #ef6831;
  border-radius: 50%;
  position: absolute;
  right: 50px;
  bottom: -20px;
  transition: 0.5s;
  text-align: center;
  opacity: 0;
}

.related_product:hover {
  background-color: #295832;
}
.related_products_card:hover .related_product {
  right: 50px;
  bottom: -10px;
  opacity: 1;
}
/* .hover_first_images
{
    display: block;
} */
.hover_second_image {
  display: none;
}
.related_products_card:hover .hover_first_images {
  display: none;
  cursor: pointer;
}
.related_products_card:hover .hover_second_image {
  display: block;
  cursor: pointer;
}

.related_product .fa {
  color: white;
}
.slick-prev:before,
.slick-next:before {
  color: #171a42 !important;
}
/* end related products */

/* product_size_wrapper */
.product_size_wrapper {
  padding: 10px 0px 10px 0px;
}
.product_size_wrapper_inner {
  display: flex;
  align-items: center;
  word-break: normal;
  flex-wrap: wrap;
}

.product_size_title {
  font-size: 18px;
  margin-bottom: 0px;
  padding-right: 20px;
}
.product_size_wrapper_inner h6 {
  padding: 6px 10px;
  border: 1px solid #000;
  margin: 3px;
}

/* product_size_wrapper */

/* product_color_wrapper */
.product_color_wrapper {
  padding: 10px 0px 10px 0px;
}
.product_color_wrapper_inner {
  display: flex;
  align-items: center;
}

.product_color_title {
  font-size: 18px;
  margin-bottom: 0px;
  padding-right: 5px;
}
.product_color_wrapper_box {
  margin: 3px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid lightblue;
}

.product_color_wrapper_box:hover {
  border: 2px solid skyblue;
  cursor: pointer;
}

/* product_size_wrapper */

/* product_delivery_inner */
.product_delivery_wrapper {
  padding: 10px 0px 10px 0px;
}
.product_delivery_title {
  font-size: 18px;
  margin-bottom: 0px;
  padding-right: 15px;
}
.product_delivery_inner {
  display: flex;
  align-items: center;
}
.product_pincode_input {
  outline: 0;
  border: 0px;
  background-color: transparent;
  border-bottom: 1px solid #ef6831;
  border-radius: 0px;
}
.product_delivery_input_wrapper {
  position: relative;
}
.product_delivery_input_wrapper .form-control:focus {
  background-color: transparent !important;
  border-color: unset !important;
  outline: 0 !important;
  box-shadow: unset !important;
}
.product_delivery_map {
  position: absolute;
  top: 8px;
  color: red;
}

.product_delivery_button {
  position: absolute;
  top: 8px;
  right: 0px;
  color: red;
}
.product_delivery_button h5 {
  font-size: 16px;
}
.active_color {
  border: 3px solid #171a42;
}
.disable_color {
  opacity: 0.5;
}
.disable_color:hover {
  border: 1px solid lightblue;
  cursor: default;
}
.active_size {
  color: white;
  background: #171a42;
}

.product_check_label {
  padding: 6px;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  margin-left: 15px;
  position: relative;
}
.product_check_close {
  margin-left: 10px;
}
.product_check_pincode_label {
  font-size: 16px;
}
.product_check_arrow:before {
  content: "";
  position: absolute;
  letter-spacing: let;
  top: 9px;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-right: 11px solid black;
  border-bottom: 9px solid transparent;
  right: 100%;
}

/* product_delivery_inner */

.slick-cloned {
  display: none !important;
}
.red_color {
  color: red;
}
.green_color {
  color: green;
}
div.is-disabled {
  pointer-events: none;
  opacity: 0.7;
}

@media (max-width: 776px) {
  .related_products {
    padding: 20px;
  }
  .product_seller {
    width: 100%;
  }
  .slick-arrow .slick-prev {
    display: none;
  }
  .slick-arrow .slick-next {
    display: none;
  }
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
}
