

/* card */

.product-card-wrap
{
    padding: 10px;
    box-shadow: 10px 11px 38px rgb(0 0 0 / 10%);
    background-color: #ffff;
    position: relative;
    cursor: pointer;
    border-top: 1px solid #e1e3e4;
    border-left: 1px solid #e1e3e4;
    /* height: 370px; */
}

.product-card-percentage
{
    display: inline-block;
    box-sizing: border-box;
    color: #FFFFFF;
    background-color: red;
    padding: 6px 10px;
    font-size: 15px;
    line-height: 12px;
    position: relative;
    margin-right: 12px;
    height: 25px;
}
.prodcut-card-arrow
{
    border-top: 12px solid red;
    border-bottom: 13px solid red;
    border-right: 13px solid transparent;
    position: absolute;
    right: -13px;
    top: 0;
}
.product-card-perentage-title{
    font-size: 12px;
}

.product-card-description
{
    padding: 10px 0px;
    text-align: center;
}


.product-card-title h6{
    padding-bottom: 10px;
    color: #171a42;
  word-break: break-all;
  height: 40px;
  font-size: 12px;
  }

  .product-card-amount-wrapper
{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    align-items: center;
    flex-wrap: wrap;
}
.product-card-hightlight-red
{
    color:red;
    font-size: 14px;
    margin-right: 5px;
}
.product-card-hightlight-green
{
    color: #295832;
    text-decoration: line-through;
    font-size: 14px;
    margin-right: 5px;
}
.product-card-addcart
{
    text-align: center;
    background-color: #ff851b;
    color: white;
    padding: 6px;
}


.hover_first_images
{
    transition: transform 12s;

}
.hover_second_image
{
    display: none;
}
.product-card-wrap:hover .hover_first_images
{
    display: none;
    cursor: pointer;
    transition: transform 12s;

}
.product-card-wrap:hover .hover_second_image
{
    display: block;
    cursor: pointer;
    transition: transform 12s;


}


@media(max-width:776px)
{
    .product-card-wrap
    {
        height: 400px;
    }
    .hover_first_images
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* card */


/* slick-arrow slick-prev */

.slick-arrow.slick-prev

{
    height: 90px;
    width: 40px;
    box-shadow: 1px 2px 10px -1px rgb(0 0 0 / 30%);
    background-color: hsla(0,0%,100%,.98);
    z-index: 99;
    border-radius: 4px;
}

.slick-arrow.slick-next

{
    height: 90px;
    width: 40px;
    box-shadow: 1px 2px 10px -1px rgb(0 0 0 / 30%);
    background-color: hsla(0,0%,100%,.98);
    z-index: 99;
    border-radius: 4px;
}
.slick-arrow.slick-next.slick-disabled
{
   display: none !important;
}
.slick-arrow.slick-prev.slick-disabled
{
   display: none !important;
}



@media(max-width:776px)
{
    .slick-arrow.slick-prev

    {
        height: unset;

    }
    
    .slick-arrow.slick-next
    
    {
        height: unset;

    } 
}






/* slick-arrow slick-prev */